<!userTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Funcionarios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1><%=title %></h1>

    <% if(errors){ %>
      <% errors.forEach(function(error){%>
        <!--linha de erros  -->
          <div class="error"><%=error.texto %></div>
        <!--fim linha de erros -->
      <%}); %>
    <% } else{ %>  
    <% } %>
    
    <!-- <p><%=action %></p> -->
    <form action="<%=action %>" method="POST">
        
      <p>
            <label>Código: <input type="text" name="codigo" value="<%=user.funcionario_codigo %>" /></label>
      </p>
      <p>
        <label>Nome: <input type="text" name="nome" value="<%=user.funcionario_nome %>" /></label>
    </p>
    <p>
        <label>Situação: <input type="text" name="situacao" value="<%=user.funcionario_situacao %>" /></label>
    </p>
    <p>
        <label>Comissão: <input type="text" name="comissao" value="<%=user.funcionario_comissao %>" /></label>
    </p>
    <p>
        <label>Cargo: <input type="text" name="cargo" value="<%=user.funcionario_cargo %>" /></label>
    </p>
    <p>
        <label>Data Criação: <input type="text" name="criacao" value="<%=user.to_char %>" /></label>
    </p>
      <!--Comandos-->
      <p>
          <a href="/users">Cancelar</a> | <input type="submit" value="Salvar" />
      </p>
      <!--Fim comandos-->
  </form>
  <script>
  //   const salvar = document.querySelector("input[type='submit']")
  //  salvar.addEventListener('click', (e)=>{
  //    e.preventDefault()
  //  })
  </script>
  </body>
</html>
